<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body">
	<main>
		<div class="grid-container order-index">
		    <form method="get" class="filter" th:action="@{/order/index}">
		        <input type="text" name="invoiceNumber" placeholder="Invoice Number..." th:attr="value=${invoiceNumber}">
		        <select name="customerId">
		        	<option th:value=null>No Specific Customer</option>
				    <option th:each="option : ${customerDropdown}" th:attr="value=${option.value}" th:text="${option.text}"
				    	th:selected="${option.value == customerId}"></option>
		        </select>
		        <select name="employeeNumber">
		        	<option th:value=null>No Specific Salesman</option>
			        <option th:each="option : ${salesmanDropdown}" th:attr="value=${option.value}" th:text="${option.text}"
			        	th:selected="${option.value == employeeNumber}"></option>
		        </select>
		        <select name="deliveryId">
		        	<option th:value=null>No Specific Delivery</option>
				    <option th:each="option : ${deliveryDropdown}" th:attr="value=${option.value}" th:text="${option.text}"
				    	th:selected="${option.value == deliveryId}"></option>
		        </select>
		        <input type="date" name="orderDate" th:attr="value=${orderDate}">     
		        <button class="blue-button" type="submit">Search</button>
		    </form>
		    <a class="blue-button create-button" th:href="@{/order/upsertForm}">Insert New Order</a>
			<table>
				<th:block th:replace="~{layout :: tableHeader (${tableHeaders})}"></th:block>
				<tbody>
					<tr th:each="row : ${grid}" th:object="${row}">
						<td>
							<a th:href="@{/order/upsertForm(invoiceNumber=*{invoiceNumber})}" class="blue-button update-button">Edit</a>
							<a th:href="@{/order/delete(invoiceNumber=*{invoiceNumber})}" class="blue-button delete-button">Delete</a>
							<a th:href="@{/order/detail(invoiceNumber=*{invoiceNumber})}" class="blue-button detail-button">Invoice</a>
						</td>
						<td th:text="*{invoiceNumber}"></td>
						<td th:text="*{customer}"></td>
						<td th:text="*{salesman}"></td>
						<td th:text="*{orderDate}"></td>
						<td th:text="*{delivery}"></td>
					</tr>
				</tbody>
				<th:block th:replace="~{layout :: tableFooter (${columnSpan}, ${currentPage}, ${totalPages}, ${pageActionUrl}, ${pageUrlParameters})}"></th:block>
			</table>
		</div>
	</main>
	<th:block th:replace="~{layout :: template (${breadCrumbs})}"></th:block>
</body>
</html>